<!DOCTYPE html>

<html lang="en" dir="ltr">
  <head>
      {{>header}}
    <title> Login Form </title>
   
  </head>
  <body>
    {{!-- {{>navbar}} --}}
    <div class="center">
      <h1>Login</h1>
      <form method="post">
        <div class="txt_field">
          <input type="text" name="email"required>
         <label>Email</label>
        </div>
        <div class="txt_field">
          <input type="text"name="password"required>
          
          <label>Password</label>
        </div>
        <div class="pass">Forgot Password?</div>
        <input type="submit" value="Login">
        <div class="signup_link">
          Not a member? <a href="Regstration">Signup</a>
        </div>
      </form>
    </div>

  </body>
</html>