<!DOCTYPE html>
<html lang="en">
<head>
  
    <title>secret</title>
</head>
<body>

    {{>navbar}}
    <div class="demo">
    <h1>Welcome to secret page....................</h1>
    </div>
</body>
</html>